
.cache/BraveSoftware/Brave-Browser/Default/Cache/Cache_Data/63fea34121813b06_0
/.cache
/.config
.gitconfig
/.gnupg
/.local
/.mozilla
.nix-profile
*.0
/.npm
*.db
*.txt
/.vim
*.json
/.vscode
*.html
/Desktop
/Development
/dotfiles
/Downloads
/Pictures
/Waybar
.viminfo
.bash_history
